.jumbotron {
  background-color: blue;
  color: black;
  margin-top: 50px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: blue;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-clases {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-agenda {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 10px;
}
