.jumbotron {
  background-color: #0320fc;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #0320fc;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-clases {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-agenda {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
