$blue: #ffffff;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $blue;
  color: black;
  @include margenes(50px, 0px);
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: $blue;
  @include margenes(10px, 0px);

}

.card-clases {
  flex: 1 200px;
  @include margenes(10px, 0px);
}

.btn-agenda {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 10px;
}
